.input-form {
    font-family: serif;
}

input {
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}

.line-one {
    width: 100%;
}

.add-item {
    color: black;
    background-color: #B2F302;
}

